<%- include('partials/header') %>

  <div class="jumbotron text-center">
    <div class="container">
      <i class="fas fa-key fa-6x"></i>
      <h1 class="display-3">Your Secrets!</h1>


      <% for(let secret of secrets){%>
        <form id="delete-form" action="/delete" method="post">
          <input class="secret-input" name="secretId" value="<%= secret.id %>" hidden/>
          <button id="delete-button" type="submit"><img src="/images/icons8-delete-30.png" alt="Delete Icon"></button>
        </form>
        <p class="secret-text">
            <%= secret.description %>
        </p>
      <% } %>
      <hr>

      <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
      <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
    </div>
  </div>

  <script>
    const secrets = Array.from(document.getElementsByClassName('secret-text'));
    let index = 0;

    function generateRandomString(length) {
      const characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789!@#$%^&*()~';
      let result = '';
      const charactersLength = characters.length;
      for (let i = 0; i < length; i++) {
        result += characters.charAt(Math.floor(Math.random() * charactersLength));
      }
      return result;
    }

    const encrypted = secrets.map(secret => generateRandomString(secret.textContent.length));
    const secretTexts = secrets.map(secret => secret.textContent);
    
    document.addEventListener('keydown', function(event) {
      if (event.key === 'E' || event.key === 'e') {
        console.log('E key pressed');
        index++;
        if (index % 2 === 1) {
          for (let i=0; i < secrets.length; i++) {
            secrets[i].textContent = encrypted[i];
          }
        }
        else {
          for (let i=0; i < secrets.length; i++) {
            secrets[i].textContent = secretTexts[i];
          }
        }
      }
    });

  </script>

  <%- include('partials/footer') %>
