
body {
  background-color: #E8ECEF;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

#delete-check {
  margin-right: 30px;
}

#delete-form {
  display: inline;
  scale: 0;
}

#delete-button {
  display: block;
}

.secret-input {
  display: block;
}
